env/
.DS_Store
.env
.vscode/
local_dbs/*
**/__pycache__/
scratch.py
images/video_demo
figures/*.pdf
figures/checkpoint*
paper/*.pdf
images/*.key
benchmarks_generation/results/
benchmarks_generation/*.csv
benchmarks_generation/*/*.csv
benchmarks_generation/*/*.parquet
benchmarks_generation/results_checkpoint_aug23
benchmarks_generation/results_checkpoint_*
TP53_plus1_prot.html
TP53_plus1_prot.txt
out/
.venv/*
.venv
alvessa_env/
tmp_GENAL
alvessa_agent.egg*
benchmarks_generation/
